.filler {
    border-top: 15px solid $footer_border_color;
    margin-top: 10px;
}

.sidebar-block {
    width: 9rem;
    max-width: 9rem;
    margin-right: 1rem;
    float: left;
    .sidebar-btn,
    .sidebar-nav-close {
        display: none;
    }
    .sidebar-menu {
        list-style: none;
        padding: 0;
        margin-top: 0;
        .menu-depth-0 {
            & + .depth-0 {
                margin-top: 1rem;
            }
        }
        .menu-depth-1 {
            padding-left: 1rem;
            margin-bottom: 1rem;
        }
        li {
            margin-bottom: 10px;
            & > ul {
                margin-top: 0.5rem;
            }
        }
        .sidebar-current-page {
            font-size: 85%;
            font-weight: 600;
            color: $header_links_color;
        }
        a {
            color: $header_links_color;
            text-decoration: none;
            font-size: 85%;
            &:hover,
            &:focus {
                // text-decoration: underline;
                border-bottom: 2px solid;
            }
        }
    }
}

.main-column {
    margin-left: 11rem;
    padding-right: 6rem;
    margin-bottom: 5rem;
    h2 {
        color: $nrl_blue;
        font-weight: 400;
        margin-bottom: 1rem;
    }
}

.page-areas-of-research {
    .main-column {
        column-count: 2;
        column-gap: 20px;
        .area-block {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
        h2 {
            color: $nrl_gold;
            font-size: 120%;
            margin: 0 0 5px;
            a {
                text-decoration: none;
                color: inherit;
                &:hover,
                &:focus {
                    border-bottom: 2px solid;
                }
            }
        }
        ul {
            margin: 0 0 1em;
            padding: 0;
            list-style-type: none;
        }
    }
}

.page-spacecraft-engineering {
    h2 {
        border-bottom: 2px solid $nrl_blue_grey;
    }
}
.page-core-capabilities {
    .main-column {
        ul {
            list-style-type: none;
            column-count: 3;
            column-gap: 20px;
            font-size: 90%;
            padding-left: 10px;
            li {
                text-indent: -8px;
                margin-bottom: 5px;
                &:before {
                    content: "- ";
                    text-indent: -8px;
                }
            }
        }
    }
}
.page-assembly-and-integration,
.page-acoustic-chamber {
    .main-column > p:first-of-type {
        float: left;
        width: 100%;
        max-width: 33%;
        margin: 0 2% 5px 0;
    }
}
.page-facilities {
    .main-column {
        ul {
            list-style-type: none;
            column-count: 2;
            column-gap: 20px;
            font-size: 90%;
            padding-left: 10px;
            li {
                text-indent: -8px;
                margin-bottom: 5px;
                &:before {
                    content: "- ";
                    text-indent: -8px;
                }
            }
        }
    }
}

ul.tabs {
    padding: 0;
    list-style-type: none;
    border-bottom: 2px solid $nrl_blue_grey;
    li {
        display: inline-block;
        font-size: 90%;
        line-height: 40px;
        padding: 0 15px;
        a {
            color: $nrl_gray;
            text-decoration: none;
            &:hover,
            &:focus {
                // text-decoration: underline;
                border-bottom: 2px solid;
            }
        }
        &.active {
            background-color: $nrl_gray;
            color: #fff;
        }
    }
}

.no-break {
    white-space: nowrap;
}

.leadership-bio-block {
    .gatsby-image-wrapper {
        width: 100%;
        max-width: 175px;
        margin-right: 20px;
        float: left;
    }
    .leadership-bio-content {
        h3 {
            color: $nrl_blue;
            text-transform: uppercase;
            font-size: 100%;
            margin: 15px 0 7px;
        }
        .bio-title {
            margin: 0 0 3px;
            color: $nrl_gray;
            font-size: 85%;
        }
        .bio-contact {
            font-size: 85%;
            display: inline-block;
            margin: 0 0.5rem 0 0;
            .bio-contact-label {
                color: $nrl_blue;
                font-weight: bold;
            }
        }
    }
}
@media screen and (max-width: 680px) {
    .page-core-capabilities {
        .main-column {
            ul {
                column-count: 2;
            }
        }
    }
    .page-areas-of-research {
        .main-column {
            column-count: 1;
        }
    }
}

a.image-box-link {
    display: inline-block;
    width: 100%;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        border-bottom: none;
        .image-box-content {
            background-color: $nrl_blue;
        }
    }
}
.image-box {
    position: relative;
    .image-box-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(83, 92, 105, 0.8);
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        padding: 1em;
        h3 {
            margin: 0 0 5px;
        }
        p {
            font-weight: 300;
        }
    }
}

.page-spacecraft-engineering {
    .highlights-block {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        width: 100%;
        .article-preview-block {
            width: 59%;
        }
        .section-grid {
            width: 39%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .image-box-wrapper {
                width: 48%;
                height: 48%;
                margin-bottom: 2.5%;
                .image-box {
                    .gatsby-image-wrapper > div:first-of-type {
                        padding-bottom: 100% !important;
                    }
                    .image-box-content {
                        padding: 0.5em;
                        h3 {
                            margin: 0 0 0;
                            font-weight: 300;
                            font-size: 85%;
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes slidein-right { 
    0% {
        -webkit-transform:translateX(-15rem);
        transform:translateX(-15rem)
    }
    to
    {
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes slidein-right { 
    0% {
        -webkit-transform:translateX(-15rem);
        transform:translateX(-15rem)
    }
    to
    {
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}

@media screen and (max-width: 63.99em) {
    .title-block {
        padding-left: 4rem;
    }
    .sidebar-block {
        width: auto;
        margin: 0;
        position: absolute;
        .sidebar-btn,
        .sidebar-nav-close {
            display: block;
        }
        .sidebar-nav {
            display: none;
            background: #fff;
            border-left: 0;
            bottom: 0;
            display: none;
            flex-direction: column;
            overflow-y: auto;
            padding: 1rem;
            position: absolute;
            position: fixed;
            left: 0;
            top: 0;
            width: 15rem;
            z-index: 500;
            &.is-visible {
                -webkit-animation: slidein-right .3s ease-in-out;
                animation: slidein-right .3s ease-in-out;
                display: flex;
            }
        }
    }
    .main-column {
        margin-left: 0;
        padding: 0 4rem;
    }
    .page-spacecraft-engineering {
        .highlights-block {
            flex-direction: column;
            .article-preview-block {
                width: 100%;
                margin-bottom: 1em;
            }
            .section-grid {
                width: 100%;
                .image-box-wrapper {
                    .image-box {
                        .image-box-content {
                            padding: 0.75em;
                            h3 {
                                font-size: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pub-filter {
    margin-bottom: 2em;
    font-size: 90%;
    white-space: nowrap;
    .pub-filter-label {
        display: inline-block;
        margin-right: 5px;
    }
    a {
        display: inline-block;
        margin: 0 5px;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        font-weight: 600;
        color: $nrl_blue;
        &:hover,
        &:focus {
            border-bottom-color: inherit;
        }
        &.active:before {
            content: "[ ";
        }
        &.active.asc:after {
            content: " ^ ]";
        }
        &.active.desc:after {
            content: " V ]";
        }
        &:visited {
            color: $nrl_blue;
        }
    }
}

@media screen and (max-width: 50em) {
    .title-block {
        padding-left: 1rem;
    }
    .sidebar-block {
        width: auto;
        margin: -2.5rem 0 0 -2rem;
    }
    .main-column {
        margin-left: 0;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 37.5em) {
    .page-spacecraft-engineering {
        .highlights-block {
            .article-preview-block {
                .image-box {
                    .image-box-content {
                        position: relative;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 31.25em) {
    .leadership-bio-block {
        .gatsby-image-wrapper {
            margin: 0 auto;
            float: none;
        }
    }
}