body {
    font-family: 'Open Sans',Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    // #main-content {
    //     flex-grow: 1;
    // }
}
.content-wrapper {
    padding: 0 2em;
    margin: 0 auto;
    max-width: 79rem;
}
.hero-block-large {
    width: 100%;
    padding-top: 60%;
    position: relative;
    margin-bottom: 5px;
    &.hero-home {
        background: url('../images/nrl_hero_home.jpg') left center no-repeat #fff;
        background-size: cover;
    }
    .hero-text-block {
        font-weight: 400;
        position: absolute;
        top: 4.5rem;
        left: 11rem;
        max-width: 23rem;
        h1 {
            max-width: 100%;
            font-size: 120%;
            font-weight: 300;
        }
    }
}
.hero-block-small {
    width: 100%;
    height: 200px;
    &.hero-about {
        background: url('../images/nrl_hero_about.jpg') center center no-repeat #fff;
        background-size: cover;
    }
}

.title-block {
    background: $nrl_medium_gray;
    border-top: 5px solid #00bef3;
    padding: 0 1rem 0 11rem;
    margin-bottom: 2.5rem;
    h1 {
        margin: 0;
        font-weight: 300;
        color: #fff;
        line-height: 40px;
    }
}

@media screen and (max-width: 69.99em) {
    .hero-block-large {
        .hero-text-block {
            left: 8rem;
        }
    }
}

@media screen and (max-width: 63.99em) {
    .hero-block-large {
        .hero-text-block {
            top: 2.5rem;
            left: 4rem;
        }
    }
}

@media screen and (max-width: 53em) {
    .hero-block-large {
        .hero-text-block {
            padding: 1.1rem 1.25rem;
            position: relative;
            top: auto;
            left: auto;
            max-width: 100%;
            background-color: rgba(255,255,255,0.5);
        }
        &.hero-home {
            background-position: center center;
        }
    }
}