@mixin nrl-button-white(){
    color: $nrl_medium_gray;
    background-color: #fff;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial;
    border: 1px solid $nrl_light_gray;
    padding: 1px;
    &:focus,
    &:active,
    &:hover {
        color: $nrl_gray;
        border: 2px solid $nrl_medium_gray;
        padding: 0;
        outline: none;
    }
}

@mixin background-color-transition(){
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}