body {
    .usa-skipnav:focus {
        background: $nrl_blue;
        color: #fff;
        z-index: 315;
    }
    .usa-focus, :focus {
        outline: .25rem solid $nrl_gold;
        outline-offset: 0;
    }
    .grid-container {
        max-width: 79rem;
    }
    header {
        max-width: 79rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0 auto;
    }
    .nrl-logo {
        a {
            width: 112px;
            height: 74px;
            display: block;
            background: url('../images/nrl_logo_blue.png') center center no-repeat transparent;
            background: url('../images/nrl_logo_blue.svg'), linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .usa-nav-submenu-item {
        &.depth-1 {
            padding-left: 15px;
        }
        &.depth-2 {
            padding-left: 30px;
        }
    }
    .usa-prose>p, p {
        line-height: 1.52155;
        margin-bottom: 0;
        margin-top: 0;
        max-width: 100%;
    }
    @media screen and (min-width: 64em){
        .usa-header {
            a {
                color: $header_links_color;
            }
        }
        .usa-header-extended {
            .usa-navbar {
                max-width: 100%;
                padding: 0 0 5px 0;
                float: left;
                position: relative;
                z-index: 310;
                margin-right: 32px;
            }
            .usa-logo {
                margin: 1rem 1rem 0.5rem 0;
                max-width: 100%;
                float: left;
            }
            .usa-nav {
                border-top: none;
                padding-top: 48px;
                width: auto;
                float: none;
                position: relative;
                z-index: 305;
            }
            .usa-nav-inner {
                max-width: 100%;
                padding: 0 !important;
                .usa-accordian {
                    width: auto;
                }
            }
            .usa-accordion.usa-nav-primary {
                 width: auto;
            }
            .usa-nav-close + .usa-search {
                 clear: none;
            }
            .usa-search {
                 margin-top: 0.5rem;
                 .usa-input {
                     border: 1px solid $search_color;
                     background: $search_background_color;
                     color: #fff;
                 }
                 input::placeholder {
                    color: $search_color;
                }
            }
            .usa-nav-primary {
                .usa-nav-primary-item {
                    position: inherit;
                    margin-right: 4px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
                .usa-nav-link {
                    color: $header_links_color;
                    font-weight: 400;
                    &.usa-current {
                        color: $nrl_gold;
                    }
                }
                .usa-accordion-button {
                    background-image: none;
                    span {
                        text-transform: uppercase;
                        padding-right: 0;
                    }
                }
                button[aria-expanded=false] {
                        background-color: transparent;
                        &:hover,
                        &:active,
                        &:focus {
                            // background-color: $nrl_navy_blue;
                            // color: $header_button_hover_color;
                            text-decoration: underline;
                            background-image: none;
                        }
                }
                button[aria-expanded=true] {
                    background-color: #fff;
                    color: $header_button_hover_color;
                    -webkit-font-smoothing: auto;
                }
            }
            .usa-nav-submenu {
                background-color: $nrl_medium_gray;
                width: 100%;
                left: 0;
                right: 0;
                margin-top: 10px;
                padding: 1rem 1rem 0 9rem;
                .usa-nav-submenu-item {
                    display: inline-block;
                    margin: 0 2.5rem 1rem 0;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    a {
                        &:hover,
                        &:active,
                        &:focus {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .usa-nav-link:active:after,
            .usa-nav-link:focus:after {
                height: 0;
            }
            .usa-current:after,
            .usa-nav-link:hover:after,
            [aria-expanded=true]:after {
                background-color: transparent;
            }
        }
    }
    @media screen and (max-width: 63.99em) {
        .usa-header-extended {
            .usa-navbar {
                height: auto;
                border-bottom: none;
            }
        }
        .nrl-logo {
            a {
                height: 50px;
                margin: 1rem 1rem 1rem 0;
            }
        }
        .usa-navbar {
            border-bottom-color: $header_bottom_border_color;
        }
        .usa-nav-submenu-item {
            border-top: none;
        }
    }
    // .header-wrapper {
    //     background: #333;
    //     background-size: cover;
    // }
    .usa-header+.usa-section,
    .usa-header+main {
        border-top-color: $header_bottom_border_color;
    }

    .usa-footer-nav {
        text-align: right;

        p {
            max-width: 100%;
        }

        .usa-unstyled-list {
            margin-bottom: 1em;
            & > li {
                display: inline-block;
                padding-right: 1rem;
                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
        .usa-footer-primary-link {
            color: $footer_links_color;
        }
    }
    .footer-wrapper {
        padding: 0 2em;
        margin: 0 auto;
        max-width: 79rem;
        width: 100%;
    }
    footer {
        position: relative;
    }
    .usa-footer {
        font-size: .93162rem;
    }
    .usa-footer-return-to-top {
        position: absolute;
        padding: 1rem 5px;
        z-index: 1;
    }
    .grid-col-bottom {
        display: flex;
        flex-flow: column-reverse;
        padding-bottom: 1rem;
    }
    @media screen and (max-width: 50em) {
        .footer-wrapper {
            .grid-col-bottom {
                display: block;
                padding-top: 1rem;
                padding-bottom: 0;
                width: 100%;
                .usa-footer-logo {
                    a {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
            .usa-footer-nav {
                text-align: center;
                margin-bottom: 2em;
                p {
                    max-width: auto;
                    margin-top: 0.5em
                }
                section {
                    margin-top: 0;
                    &:last-of-type {
                    }
                }
                .usa-unstyled-list {
                    margin-bottom: 0;
                    & > li {
                        padding: 0.5em 0.5em 0;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 30em) {
        .usa-footer-big .usa-footer-nav {
            padding: 1rem 0 0;
            border-bottom: none
        }
    }
}


/* FOOTER */
.nrl-footer {
    color: $footer_links_color;
    padding: 10px 0;
    section {
        margin-top: 0;
    }
    p {
        max-width: 100%;
        margin-bottom: 0;
        font-size: 12px;
    }
    a {
        color: $footer_links_color;
        text-decoration: none;
        font-size: 12px;
        &:visited,
        &:active,
        &:hover {
            color: $footer_links_color;
            text-decoration: underline;
        }
    }
    .usa-unstyled-list {
        li {
            display: inline-block;
            margin-right: 5px;
        }
    }
}

.footer-inner-wrapper {
    position: relative;
    padding-left: 11rem;
    background-color: #fff;
}
.icons-demo-block {
    position: absolute;
    left: 0;
    bottom: 16px;
    .required-help-demo-block {
        display: none;
    }
    .social-demo-block {
        background: url('../images/social-icons.png') center bottom no-repeat transparent;
        width: 118px;
        height: 24px;
    }
}
@media screen and (max-width: 63.99em) {
    .footer-inner-wrapper {
        padding-left: 4rem;
    }
    .icons-demo-block {
        position: relative;
        bottom: auto;
        left: auto;
    }
}
@media screen and (max-width: 53em) {
    .footer-inner-wrapper {
        padding: 0.5rem 1rem;
    }
}


div.page-home {
    .footer-inner-wrapper {
        padding-left: 11rem;
        background-color: $footer_background_color;
        border-top: 5px solid $nrl_medium_gray;
    }
    .icons-demo-block {
        position: relative;
        left: auto;
        bottom: auto;
        float: right;
        width: 340px;
        .required-help-demo-block {
            display: block;
            clear: both;
            background: url('../images/required-icons.png') center center no-repeat transparent;
            width: 215px;
            height: 64px;
            float: right;
        }
        .social-demo-block {
            background: url('../images/social-icons.png') center bottom no-repeat transparent;
            width: 118px;
            height: 24px;
            padding-top: 53px;
        }
    }
    .nrl-footer {
        color: $footer_links_color;
        padding: 10px 0;
        section {
            margin-top: 0;
        }
        p {
            max-width: 100%;
            margin-bottom: 0;
            font-size: 12px;
        }
        a {
            color: $footer_links_color;
            text-decoration: none;
            font-size: 12px;
            &:visited,
            &:active,
            &:hover {
                color: $footer_links_color;
                text-decoration: underline;
            }
        }
        .usa-unstyled-list {
            li {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
    @media screen and (max-width: 63.99em) {
        .footer-inner-wrapper {
            padding-left: 4rem;
        }
        .icons-demo-block {
            float: none;
            width: 100%;
            .required-help-demo-block {
                float: none;
                display: block;
                margin: 10px auto;
            }
            .social-demo-block {
                padding-top: 0;
                display: block;
                margin: 0 auto;
            }
        }
    }
    @media screen and (max-width: 53em) {
        .footer-inner-wrapper {
            padding: 0.5rem 1rem;
        }
    }
}