// NRL Vars
$nrl_navy_blue:               #162956;
$nrl_blue:                    #2E5590;
$nrl_light_blue:              #6da9cf;
$nrl_light_gray:              #ccc;
$nrl_medium_gray:             #535c69;
$nrl_gray:                    #4c4f59;
$nrl_yellow:                  #fab208;
$nrl_gold:                    #87701D;

// Header
$header_background_color:       #fff;
$header_links_color:            $nrl_medium_gray;
$header_bottom_border_color:    $nrl_gold;
$header_menu_highligh_color:    $nrl_gold;
$header_button_hover_color:     $nrl_gold;
$search_background_color:       #fff;
$search_color:                  $nrl_medium_gray;

// Footer
$footer_background_color:     #C7D6F0;
$footer_links_color:          $nrl_medium_gray;