// NRL Vars
$nrl_navy_blue:               #162956;
$nrl_blue:                    #2E5590;
$nrl_light_blue:              #6da9cf;
$nrl_light_gray:              #ccc;
$nrl_gray:                    #4c4f59;
$nrl_yellow:                  #fab208;

// Header
$header_background_color:       $nrl_blue;
$header_links_color:          #fff;
$header_bottom_border_color:    $nrl_yellow;
$header_menu_highligh_color:    $nrl_yellow;
$header_button_hover_color:     $nrl_yellow;

// Footer
$footer_background_color:     $nrl_gray;
$footer_links_color:          $nrl_light_gray;