.emergency-block {
    background-color: #a00;
    box-sizing: border-box;
}
.emergency-wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 10px 0 0;
}
.emergency-message {
    color: #fff;
    padding: 0 20px;
    p {
        padding: 0 0 10px;
        margin: 0;
    }
    a {
        color: inherit;
    }
}