@import 'variables';

.nrl-footer {
    color: $footer_links_color;
    p {
        max-width: 100%;
    }
    a {
        color: $footer_links_color;
        &:visited,
        &:active,
        &:hover {
            color: $footer_links_color;
        }
    }
}
