---
title: Design and Verification
path: /areas-of-research/spacecraft-engineering/core-capabilities/design-verification
hero_image: ../8250.jpg
hero_color: yellow
hero_size: small
code: "8250"
template: core-capabilities
---
![Mechanical engineers Jesse Maxwell, Evan Rogers, and Austin Phoenix](8220.jpg)

The Design and Verification Branch is responsible for the research, development and verification of mechanical systems for spacecraft and near space systems. The branch mission includes integrated conceptual design trade studies, engineering research, design and analysis, test planning, execution and correlation, prototype and experimental hardware development, and management and operation of the test facilities to verify flight performance.